body {
  background-color: #e11364;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 100px;
  margin-right: 100px;
}
footer {
  background-color: #e96093;
  color: #fafafb;
  padding: 25px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 10px;
}

h1 {
  color: #fafafb;
  border-left: #fafafb 4px solid;
  border-right: #fafafb 4px solid;
  padding: 10px;

  word-wrap: break-word;
  background-color: #bc105c;
}

h2 {
  color: #fafafb;
  font-size: 20px;
  text-align: start;
  margin-bottom: 25px;


}
h3 {
  color: #bc105c;
  text-align: end;
  border-bottom: #bc105c solid 2px;
  border-bottom-style: dotted;
}

article {
  background-color: #fafafb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
section {
  background-color: #bc105c;

  border-radius: 2px;
  padding: 20px;
  border-radius: 5px;
}

p {
  text-align: justify;
  font-size: 10px;
  
}

img {
  width: 100%;
}

a {
  background-color: #2c8f20;
  border-radius: 5px;
  color: #fafafb;
  padding: 10px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

a.linkcomprar:hover {
  background-color: #e96093;
}

.link1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3-2 {
  text-align: end;
}

.mario1 {
  background: url(/img/description-image.webp);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #ffffff;
}
.p2 {
  background-color: #ffffff;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
}

.img3 {
  width: 350px;
  background-color: #ffffff;
  padding: 1px;
  border: red solid 1px;
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
  border-radius: 20px;
}

.img4 {
  width: 350px;
  background-color: #ffffff;
  padding: 1px;
  border: red solid 1px;
  float: right;
  margin-left: 15px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.pago-existoso {
  width: 350px;
  margin-top: 100px;
}

.footer-mario-compra {
  background-image: url(/img/footer-mario.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  color: #ffffff;
}

.text-footer-1-mario {
  background-color: hwb(313 37% 6%);
  width: fit-content;
  padding: 10px;
  margin-left: 700px;
}

.Kombat-article-1 {
  background-image: url(/img/fondo-article-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.h3-4 {
  background-color: #fafafb;
  border-bottom: 5px solid;
  border-bottom-style: dotted;
  border-radius: 10px;
  padding: 10px;

}

.footer-compra-MK11 {
  background-image: url(/img/mortal-kombat-footer.webp);
  background-size: cover;
  padding: 100px;
  
}
.text-footer-compra-MK11 {
  text-align: justify;
  font-size: 30px;
}
